.article-wrapper {
    padding: 16px;
    max-width: 680px;
    margin: 0 auto;

    .article-heading {
        margin-bottom: 1em;
    }

    .article-content,
    .article-heading {
        line-height: 1.5em;
    }

    .article-img {
        max-width: 50%;
        margin-bottom: 2em;
    }

}

@media (max-width: 600px) {
    .article-img {
        max-width: 100%;
    }
}